<div class="jumbotron">
  <div class="container">
    <h1>About: {{ user.name }}</h1>
    <p>This is about {{ user.name }}</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  {{> form }}
</div>
