<div class="jumbotron">
  <div class="container">
    <h1>FAQ</h1>
    <p>This is my faq page</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
