<div class="jumbotron">
  <div class="container">
    <h1>Hello, {{ userdata.name }}</h1>
    <p>your email is {{ userdata.email }}</p>


    {{#if user.isAdmin}}
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Admin Login</a>
    </p>
    {{/if}}

    {{#unless user.isAdmin}}
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">User Login</a>
    </p>
    {{/unless}}
  </div>
</div>

<div class="container">
  {{> form }}


  <ul>
    {{#each blogs as |blog|}}
    <li>
      <h3>{{ blog.title }}</h3>
      <p>{{ blog.content }}</p>
    </li>
    {{/each}}
  </ul>
</div>
